html, body {
  margin: 0;
  padding: 0;
}
canvas {
  display: block;
}

#resultContainer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: url('background.gif'); /* Use your GIF file */
  background-size: cover;  /* Ensures the GIF covers the entire background */
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}